{% extends 'crudapp/base.html' %}
 {% block content%}
 <body>
    <br>
    <br>
    <div class="text-center">
      {% if user.is_authenticated %}
      <h1>Welcome to CrudApp <span class="spn"> {{user}} </span> </h1>
      {% endif %}
      <h3>CrudApp at management at it's finest</h3>  
      <br>
      <p style="font-size: 20px;"> we can create crud operation through this project create/read/update/delete </p>
       <h5>Keep track of your  record efficatively</h5>
       <hr>
       <br>
       {% if user.is_authenticated %}
       <h1>Welcome to the home page </h1>
       <h2>you can create and update your data in above section</h2>
       <h3>Thank you</h3>
       {% else %}
       <a class="btn btn-primary" type="button" href="/register">Signup</a>
       <br>
       <h5>or</h5>
       <a class="btn btn-primary" type="button" href="/login">Login</a>
       {% endif %}
    </div>
 </body>
{% endblock%}